/* Colors */

.go-back-button {
  position: absolute;
  top: 5%;
  font-size: 20px;
}

:root {
  --primary-green: rgba(49, 78, 34, 0.972);
  --button-hover: rgb(84, 128, 89);
  --shadow-dark: rgba(0, 0, 0, 0.251);
  --secondary-grey: rgba(142, 142, 142, 0.695);
  --secondary-green: rgba(142, 173, 90, 0.56);
}

body {
  background-color: var(--primary-green);
  font-family: 'Asap', sans-serif;
}

.login {
  overflow: hidden;
  background-color: white;
  padding: 40px 30px 30px 30px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  transform: translate(-50%, -50%);
  transition: transform 300ms, box-shadow 300ms;
  box-shadow: 10px 15px 15px var(--shadow-dark);
}

.login::before,
.login::after {
  content: '';
  position: absolute;
  width: 600px;
  height: 600px;
  border-top-left-radius: 40%;
  border-top-right-radius: 45%;
  border-bottom-left-radius: 35%;
  border-bottom-right-radius: 40%;
  z-index: -1;
}

.login::before {
  left: 40%;
  bottom: -130%;
  background-color: var(--secondary-grey);
  animation: wawes 6s infinite linear;
}

.login::after {
  left: 35%;
  bottom: -125%;
  background-color: var(--secondary-green);
  animation: wawes 7s infinite;
}

.login > input {
  font-family: 'Asap', sans-serif;
  display: block;
  border-radius: 5px;
  font-size: 16px;
  background: white;
  width: 100%;
  border: 1px solid black;
  padding: 10px 10px;
  margin: 15px -10px;
}

.login > button {
  font-family: 'Asap', sans-serif;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  width: 80px;
  border: 0;
  padding: 10px 0;
  margin-top: 10px;
  margin-left: -5px;
  border-radius: 5px;
  background-color: var(--primary-green);
  transition: background-color 300ms;
}

.login > button:hover {
  background-color: var(--button-hover);
}

@keyframes wawes {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 12px;
}
